<!--
  home is rest page for users, 
    not profile -- that is public show
    not settings -- that is change stuff
    more a 'private show' or a personal user control page
  title should be person.name, not 'Got Talk?'
  really should go with the views/people
-->
<% provide(:title, 'Home') %>
<h1><%= yield :title %></h1>
<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/person_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/talk_form' %>
      </section>
    </aside>
  </div>
  <div class="span4">
    <h3>Talk Feed</h3>
    <%= render 'shared/feed' %>
  </div>
<% else %>
  <div class="center hero-unit">
    <h2>
      Welcome to TalkInvite!
    </h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>
<% end %>
