<!--
  splash pages is start for everything
  splash page elements:
    title: Got Talk?
    search box: several words, if they don't hit, then kick off talk
    lots of small images, each leading to a category or a specific talk,
      -- varying time to time
      -- customizeable
    tests:
      title
      search box
      submit
      some of the expected small images & their links
      note there is dependence on signin status, on sub status, perhaps even on admin status
  current is just wrong!
-->
<% provide(:title, 'Got Talk?') %>
<h1><%= yield :title %></h1>
<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/person_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/talk_form' %>
      </section>
    </aside>
  </div>
  <div class="span4">
    <h3>Talk Feed</h3>
    <%= render 'shared/feed' %>
  </div>
<% else %>
  <div class="center hero-unit">
    <h2>
      Welcome to TalkInvite!
    </h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>
<% end %>
