<%= form_for(@ad) do |f| %>
  <% if @ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ad.errors.count, "error") %> kept this ad from being saved:</h2>

      <ul>
      <% @ad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, placeholder: :name %>
  </div>
  <div class="field">
    <%= f.text_area :description, placeholder: :description %>
  </div>
  <div class="field">
    <!-- TBD:  how best to handle the tag for this checkbox? -->
    <%= f.label :marketing_spot %><br>
    <%= f.check_box :internal_flag %>
  </div>
  <div class="field">
    <%= f.text_area :content, placedolder: :content %>
  </div>
  <div class="field">
    <%= f.text_area :source, placeholder: :source %>
  </div>
  <div class="field">
    <%= f.text_area :strategy, placeholder: :strategy %>
  </div>
  <div class="field">
    <!-- TBD: verify we are testing readonly character of the stats -->
    <%= f.text_area :stats, placeholder: :stats, readonly: true %>
  </div>
  <div class="actions">
    <%= f.submit 'data-inline' => true %>
  </div>
  <% if controller.action_name == 'edit' %>
    <%= button_delete @ad %>
  <% end %>

<% end %>
