<p id="notice"><%= notice %></p>
<% content_for(:data_role, 'dialog') %>
<% content_for(:data_role, 'dialog') %>

<p>
  <strong>Name:</strong>
  <%= @ad.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ad.description %>
</p>

<p>
  <strong>Internal flag:</strong>
  <%= @ad.internal_flag %>
</p>

<p>
  <strong>Content:</strong>
  <%= @ad.content %>
</p>

<p>
  <strong>Source:</strong>
  <%= @ad.source %>
</p>

<p>
  <strong>Strategy:</strong>
  <%= @ad.strategy %>
</p>

<p>
  <strong>Stats:</strong>
  <%= @ad.stats %>
</p>

<%= link_to 'Edit', edit_ad_path(@ad) %> |
<%= link_to 'Back', ads_path %>
