<% provide(:title, 'Message') %>
<% provide(:data_role, 'dialog') %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Sender:</strong>
  <%= @message.sender_id %>
</p>

<p>
  <strong>Receiver:</strong>
  <%= @message.receiver_id %>
</p>

<p>
  <strong>Message type:</strong>
  <%= @message.message_type %>
</p>

<p>
  <strong>Message text:</strong>
  <%= @message.message_text %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
