<p id="notice"><%= notice %></p>

<p>
  <strong>From user:</strong>
  <%= @message.from_person_id %>
</p>

<p>
  <strong>To user:</strong>
  <%= @message.to_person_id %>
</p>

<p>
  <strong>Talk:</strong>
  <%= @message.talk_id %>
</p>

<p>
  <strong>Message type:</strong>
  <%= @message.message_type %>
</p>

<p>
  <strong>Content:</strong>
  <%= @message.content %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
