<% provide(:title, "Sign in") %>

<div class="row">
  <!-- bootstrap stuff:  span6, offset3 -->
  <div class="span6 offset3">
    <!-- url is passed to form, as the 'action' -->
    <!-- why no '@session'? -->
    <%= form_for(:session, url: sessions_path) do |f| %>

      <!-- unable to get :placeholder to work with these or to null them out, 
        may be a problem in the browser (Firefox) -->
      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
