<%= form_for(@faq) do |f| %>
  <% if @faq.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@faq.errors.count, "error") %> kept this faq from being saved:</h2>

      <ul>
      <% @faq.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- TBD:  add in popup for faq_types -->
  <div class="field">
    <%= f.text_area :question, placeholder: :question %>
  </div>
  <div class="field">
    <%= f.text_area :answer, placeholder: :answer %>
  </div>
  <div class="actions">
    <%= f.submit 'data-inline' => true %>
    <% if controller.action_name == 'edit' %>
      <%= button_delete @faq %>
    <% end %>
  </div>
<% end %>
