<p id="notice"><%= notice %></p>
<% provide(:data_role, 'dialog') %>

<p>
  <strong>Person:</strong>
  <%= @comment.person_id %>
</p>

<p>
  <strong>Talk:</strong>
  <%= @comment.talk_id %>
</p>

<p>
  <strong>Comment text:</strong>
  <%= @comment.comment_text %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
