<% provide(:title, "Edit profile") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@person) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :screen_name %>
      <%= f.text_field :screen_name %>

      <%= f.label :about_me %>
      <%= f.text_area :about_me %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>

      <!-- how best to show person_type? note has to match the name the test specs are looking for! -->
      <%= f.label :person_type, "Person Type" %>
      <%= f.text_field :person_type %>

      <!-- settings will be a hidden field in a bit -->
      <%= f.label :settings, "Settings" %>
      <%= f.hidden_field :settings %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

    <%= gravatar_for @person %>
    <a href="http://gravatar.com/emails">change</a>
  </div>
</div>
