<% provide(:title, @person.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @person %>
        <%= @person.name %>
      </h1>
      <!-- what is notice? -->

      <!--
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Email:</strong>
        <%= @person.email %>
      </p>

      <p>
        <strong>About me:</strong>
        <%= @person.about_me %>
      </p>

      <p>
        <strong>Screen Name:</strong>
        <%= @person.screen_name %>
      </p>

      <p>
        <strong>Settings:</strong>
        <%= @person.settings %>
      </p>
      -->

    </section>
  </aside>
</div>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
