<% provide(:title, @person.name) %>

<!-- what is notice??? -->

<p id="notice"><%= notice %></p>

<h1><%= @person.name %></h1>

<p>
  <%= gravatar_for @person %>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>About me:</strong>
  <%= @person.about_me %>
</p>

<p>
  <strong>Screen Name:</strong>
  <%= @person.screen_name %>
</p>

<p>
  <strong>Settings:</strong>
  <%= @person.settings %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
