<% provide(:title, @person.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <!-- h1 is not leaving the name very big:  because we are in an 'aside', which is only 1.4em for font -->
      <h1>
        <%= gravatar_for @person %>
        <%= @person.name %>
      </h1>
      <!-- what is notice? setup notice function in ruby-on-rails to fill in -->
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Email:</strong>
        <%= @person.email %>
      </p>

    </section>
  </aside>

  <div class="span8">
    <% if @person.talks.any? %>
      <h3>Talks (<%= @person.talks.count %>)</h3>
      <ol class="talks">
        <%= render @talks %>
      </ol>
      <%= will_paginate @talks %>
    <% end %>
  </div>

</div>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
