<% provide(:title, @person.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <!-- h1 is not leaving the name very big:  because we are in an 'aside', which is only 1.4em for font -->
      <h1>
        <%= gravatar_for @person %>
        <%= @person.name %>
      </h1>
      <!-- what is notice? setup notice function in ruby-on-rails to fill in -->
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Email:</strong>
        <%= @person.email %>
      </p>

      <p>
        <strong>About me:</strong>
        <%= @person.about_me %>
      </p>

      <p>
        <strong>Screen Name:</strong>
        <%= @person.screen_name %>
      </p>

      <!-- how best to show 'person_type'? note has to match the name the test specs are looking for! -->
      <p>
        <strong>Person Type:</strong>
        <%= @person.person_type %>
      </p>

      <p class="hidden" >
        <strong>Settings:</strong>
        <%= @person.settings %>
      </p>

    </section>
  </aside>
</div>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
