<% provide(:title, @person.name) %>
<% provide(:data_role, 'dialog') %>
<div class="row">
  <aside class="span4">
    <section>
      <!-- h1 is not leaving the name very big:  because we are in an 'aside', which is only 1.4em for font -->
        <%= gravatar_for @person %>
        <%= @person.name %>
      </h1>
      <!-- what is notice? setup notice function in ruby-on-rails to fill in -->
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Email:</strong>
        <%= @person.email %>
      </p>

    </section>
  </aside>

</div>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
