<%= form_for(@map) do |f| %>
  <% if @map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@map.errors.count, "error") %> kept this map from being saved:</h2>

      <ul>
      <% @map.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, placeholder: :name%>
  </div>
  <div class="field">
    <%= f.text_field :description, placeholder: :description %>
  </div>
  <div class="field">
    <%= f.text_area :geometry, placeholder: :geometry %>
  </div>
  <div class="field">
    <%= f.text_area :settings, placeholder: :settings %>
  </div>
  <div class="field">
    <%= f.text_area :history, placeholder: :history, readonly: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
