<% provide(:title, 'Map') %>

<p>
  <strong>Name:</strong>
  <%= @map.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @map.description %>
</p>

<p>
  <strong>Geometry:</strong>
  <%= @map.geometry %>
</p>

<p>
  <strong>Settings:</strong>
  <%= @map.settings %>
</p>

<p>
  <strong>History:</strong>
  <%= @map.history %>
</p>
