<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @map.person_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @map.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @map.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @map.location_id %>
</p>

<p>
  <strong>Source:</strong>
  <%= @map.source %>
</p>

<p>
  <strong>Settings:</strong>
  <%= @map.settings %>
</p>

<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>
