<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @tweet.person_id %>
</p>

<p>
  <strong>Screen name:</strong>
  <%= @tweet.screen_name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @tweet.content %>
</p>

<p>
  <strong>Location:</strong>
  <%= @tweet.location_id %>
</p>

<%= link_to 'Edit', edit_tweet_path(@tweet) %> |
<%= link_to 'Back', tweets_path %>
