<%= form_for(@notification) do |f| %>
  <% if @notification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notification.errors.count, "error") %> prohibited this notification from being saved:</h2>

      <ul>
      <% @notification.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :person_id %><br>
    <%= f.number_field :person_id %>
  </div>
  <div class="field">
    <%= f.label :talk_id %><br>
    <%= f.number_field :talk_id %>
  </div>
  <div class="field">
    <%= f.label :note_type %><br>
    <%= f.text_field :note_type %>
  </div>
  <div class="field">
    <%= f.label :note_text %><br>
    <%= f.text_area :note_text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
