<%= form_for(@notification) do |f| %>
  <% if @notification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notification.errors.count, "error") %> kept this notification from being saved:</h2>

      <ul>
      <% @notification.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- replace person_id, talk_id, note_type -->
  <div class="field">
    <%= f.number_field :person_id, placeholder: :person_id %>
  </div>
  <div class="field">
    <%= f.number_field :talk_id, placeholder: :talk_id %>
  </div>
  <div class="field">
    <%= f.text_field :note_type, placeholder: :note_type %>
  </div>
  <div class="field">
    <%= f.text_area :note_text, placeholder: :note_text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
