<% # TBD: add in post option if the talk hasn't been posted yet (i.e. talk_status is 'start') %>
<%  
  # TBD: using disabled for show was ugly; using listview for show is ugly; still looking for ideal...
%>
<%= form_for_jqm @talk do |f| %>
  <%= render partial: 'shared/error_messages', object: f.object %>
  <%= render partial: 'shared/talk_status' %>
  <%= f.hidden_field :person_id %>

  <% if person_signed_in? %>
    <%= render partial: 'talk_person', object: f %>
    <%= render partial: 'talk_what', object: f %>
    <%= render partial: 'talk_when', object: f %>
    <%= render partial: 'talk_where', object: f %>
    <%= render partial: 'talk_who', object: f %>
    <%= render partial: 'talk_submit', object: f %>
  <% else %>
    <p><%=@talk.summary-%></p>
    <p><%=@talk.description-%></p>
    <p><%=@talk.talk_date-%><%=@talk.talk_time-%><%=@talk.talk_duration-%></p>
    <p><%=@talk.address-%></p>
  <% end %>
<% end %>
