<! TBD:  fold in new talk fields; breakout into partials; add in map & calendar pickers; check perms on delete; add members, tags; messages; relationships
  layout:
    Title
    summary -- what (+ = tags)
    when -- ( can be now or what not, popup to calendar! how does popup get information back? via JS variables or a tag,
      resolves to start & end dates )
    where -- can be here or nearby, popup to map! get information back via JS variable or a tag
    who -- needed?  defaults to all/any, can be a tag, or perhaps a list of members
    details -- why
  -- needs field groups
  -- needs an 'is_valid' js function policing the form to make sure that we can save, 
    and disabling the button if we can't:
      basically record is valid & we are signed in
-->
<%= form_for(@talk) do |f| %>
  <% if @talk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@talk.errors.count, "error") %> kept this talk from being saved:</h2>

      <ul>
      <% @talk.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :summary, placeholder: "about?" %>
  </div>
  <!-- TBD: replace person with the corresponding name -->
  <div class="field">
    <%= f.hidden_field :person_id %>
  </div>
  <div class="field">
    <%= f.text_field :when_desc, placeholder: "when?" %>
  </div>
  <div class="field">
    <%= f.text_field :where_desc, placeholder: "where?" %>
  </div>
  <div class="field">
    <%= f.text_field :who_desc, placeholder: "who?" %>
  </div>
  <div class="field">
    <%= f.text_area :description, placeholder: "why?" %>
  </div>
  <div class="actions">
    <%= f.submit 'data-inline' => true %>
  </div>
  <% if controller.action_name == 'edit' %>
    <%= button_delete @talk %>
  <% end %>

<% end %>
