<%= form_for(@talk) do |f| %>
  <% if @talk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@talk.errors.count, "error") %> kept this talk from being saved:</h2>

      <ul>
      <% @talk.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :summary, placeholder: :summary %>
  </div>
  <div class="field">
    <%= f.text_area :description, placeholder: :description %>
  </div>
  <!-- TBD: replace person & venue with the corresponding names -->
  <div class="field">
    <%= f.number_field :person_id, placeholder: :person_id %>
  </div>
  <div class="field">
    <%= f.number_field :venue_id, placeholder: :venue_id %>
  </div>
  <div class="actions">
    <%= f.submit 'data-inline' => true %>
  </div>
  <% if controller.action_name == 'edit' %>
    <%= button_delete @talk %>
  <% end %>

<% end %>
