<% # TBD: add in post option if the talk hasn't been posted yet (i.e. talk_status is 'start') %>
<%  
  # TBD: using disabled for show was ugly; using listview for show is ugly; still looking for ideal...
%>
<%= form_for_jqm @talk do |f| %>
  <%= render partial: 'shared/error_messages', object: f.object %>
  <%= f.hidden_field :person_id %>

  <% if person_signed_in? %>
    <%= f.text_field :summary, placeholder: 'about?', required: true %>
    <%= f.text_area :description, placeholder: 'details?' %>
    <%= render partial: 'talk_when', object: f %>
    <%= render partial: 'talk_where', object: f %>
    <%= render partial: 'talk_status', object: f %>
    <%= render partial: 'talk_person', object: f %>
    <%= render partial: 'talk_submit', object: f %>
  <% else %>
    <% # TBD:  list is ugly looking; find alternative %>
    <ul data-role="listview" data-inset="true" data-theme="<%=swatch('')-%>" >
    <li><%=@talk.summary-%></li>
    <li><%=@talk.description-%></li>
    <li><%=@talk.when_desc-%></li>
    <li><%=@talk.where_desc-%></li>
    <li><%=@talk.talk_status-%></li>
    <% if ! person_signed_in? or current_person.id != @talk.person_id %>
      <li><%=@talk.person.name-%></li>
    <% end %>
    </ul>
  <% end %>
<% end %>
