<% 
  # NOTE: default name of button is commit, value of button will be returned with key 'commit'
  talk = talk_submit.object
%>
<div data-role="controlgroup">
  <% if talk.new_record? || talk.talk_status == 'draft' %>
    <%= talk_submit.submit 'Save as Draft', title: "Save but don't announce" %>
    <%= talk_submit.submit 'Post', title: "Save and announce the talk to the world" %>
  <% else %>
    <% if talk.talk_status == 'active' %>
        <%= talk_submit.submit 'Save', title: "Save without announcement"  %>
        <%= talk_submit.submit 'Post', title: "Tell everyone about the changes" %>
        <%= talk_submit.submit 'Cancel', title: "Cancel talk.  With announcement" %>
        <%= talk_submit.submit 'Done', title: "Mark talk done.  No announcement" %>
    <% else %>
        <%= talk_submit.submit 'Reopen', title: "Reopen the talk for future talking" %>
    <% end %>
    <%= render partial: 'talk_delete', object: talk_submit %> 
  <% end %>
</div>
