<!-- cloned from people -->

<% provide(:title, 'Search for talks or add one') %>
<% provide(:heading, 'Got Talk?') %>
<h1><%= yield :heading %></h1>

<div class="row">
  <div class="span6 offset3">

    <%= form_tag("/talks/found", method: "get") do %>
      <%= label_tag(:search_q, "Search for:") %>
      <%= search_field(:search, :q) %>
      <%= submit_tag("Search") %>
    <% end %>

  </div>

  <div id="hot_talks">
    Hot Talks
  </div>

</div>
<%= render partial: 'start_talk_button' %>
