<!-- cloned from people -->
<% provide(:title, 'Got Talk?') %>

    <%= form_tag("/talks/found", method: "get") do %>
      <%= label_tag(:search_q, "Search for:") %>
      <%= search_field(:search, :q) %>
      <%= submit_tag("Search") %>
    <% end %>

  </div>

  <div id="gottalk">
  <% if @talks && @talks.length > 0 %>
      <h2>Trending Talks</h2>
      <%= render partial: 'talk_table' %>
  <% end %>
<%= render partial: 'start_talk_button' %>
