<% provide(:title, 'Talk') %>
<% # TBD:  merge into non-admin variation on talk control %>
<% # TBD:  wrap @talk.description in simple_format %>
<p>
  <%= @talk.description %>
</p>

<p>
  <%= @talk.when_desc %>
</p>

<p>
  <%= @talk.where_desc %>
</p>

<p>
  <%= @talk.person.name %>
</p>

<p>
  <%= @talk.talk_status %>
</p>
