<% provide(:title, 'Talk') %>
<% # TBD:  merge into non-admin variation on talk control %>
<% # TBD:  wrap @talk.description in simple_format %>
<p>
  <%= @talk.description %>
</p>

<p>
  <%= @talk.talk_date %>
  <%= @talk.talk_time %>
  <%= @talk.talk_duration %>
</p>

<p>
  <%= @talk.address %>
</p>

<p>
  <%= @talk.person.name %>
</p>

<p>
  <%= @talk.talk_status %>
</p>
