<% provide(:title, 'Talk') %>

<p>
  <%= @talk.description %>
</p>

<p>
  <%= @talk.when_desc %>
</p>

<p>
  <%= @talk.where_desc %>
</p>

<p>
  <%= @talk.person.name %>
</p>

<p>
  <%= @talk.talk_status %>
</p>
