<!-- cloned from talks/search -->
<% provide(:heading, 'Got Talk?') %>
<% provide(:title, 'Start page for TalkInvite') %>
<h1><%= yield :heading %></h1>

<div class="row">
  <div class="span6 offset3">

    <%= form_tag("/talks/found", method: "get") do %>
      <%= label_tag(:search_q, "Search for:") %>
      <%= search_field(:search, :q) %>
      <!-- get submit_tag to pull right -->
      <%= submit_tag("Search") %>
    <% end %>

  </div>
  <div class=span3 offset0">
<%
  static_links = {
    'Recent' => recent_path,
    'Nearby' => nearby_path
  }
  if current_person 
    static_links.merge!( {
      'My Talks' => my_talks_path
    })
  end
  static_links.merge!( {
    'Add Talk' => new_talk_path
  })
%>
<% static_links.each do |name, path| %>
<li><%= link_to name, path %></li>
<% end %>
  </div>
</div>
