<li id="<%= feed_talk.id %>">
  <!-- arguments to gravatar_for are 1) person & 2) options hash -->
  <!-- arguments to link_to are? -->
  <!-- there is a lot of duplication between this & the code in _talk -->
  <%= link_to gravatar_for(feed_talk.person), feed_talk.person %>
  <span class="person">
    <%= link_to feed_talk.person.name, feed_talk.person %>
  </span>
  <span class="summary"><%= wrap(feed_talk.summary) %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(feed_talk.created_at) %> ago.
  </span>
  <% if current_person?(feed_talk.person) %>
    <%= link_to "Delete", feed_talk, method: :delete, data: 
      { confirm: "Are you sure you want to delete '#{feed_talk.summary}'" }, title: feed_talk.summary %>
  <% end %>
</li>
