<%= form_for(@attachment) do |f| %>
  <% if @attachment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attachment.errors.count, "error") %> kept this attachment from being saved:</h2>

      <ul>
      <% @attachment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, placeholder: :name %>
  </div>
  <div class="field">
    <%= f.text_area :description, placeholder: :description %>
  </div>
  <!-- TBD: provide attachment_type as a select -->
  <div class="field">
    <%= f.text_field :attachment_type, placeholder: :attachment_type %>
  </div>
  <!-- TBD: replace attachable_type & _id with some kind of popup -->
  <div class="field">
    <%= f.text_field :attachable_type, placeholder: :attachable_type %>
  </div>
  <div class="field">
    <%= f.number_field :attachable_id, placeholder: :attachable_id %>
  </div>
  <div class="field">
    <%= f.text_field :file_path, placeholder: :file_path, readonly: true %>
  </div>
  <div class="actions">
    <%= f.submit 'data-inline' => true %>
  </div>
  <% if controller.action_name == 'edit' %>
    <%= button_delete @attachment %>
  <% end %>

<% end %>
