<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @attachment.person_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @attachment.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @attachment.description %>
</p>

<p>
  <strong>File type:</strong>
  <%= @attachment.file_type %>
</p>

<p>
  <strong>Pathname:</strong>
  <%= @attachment.pathname %>
</p>

<p>
  <strong>Attachable type:</strong>
  <%= @attachment.attachable_type %>
</p>

<p>
  <strong>Attachable:</strong>
  <%= @attachment.attachable_id %>
</p>

<%= link_to 'Edit', edit_attachment_path(@attachment) %> |
<%= link_to 'Back', attachments_path %>
