<%= form_for(@venue) do |f| %>
  <% if @venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venue.errors.count, "error") %> kept this venue from being saved:</h2>

      <ul>
      <% @venue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- TBD: replace person with the corresponding names-->
  <div class="field">
    <%= f.number_field :person_id, placeholder: :person_id %>
  </div>
  <div class="field">
    <%= f.text_field :name, placeholder: :name %>
  </div>
  <div class="field">
    <%= f.text_area :description, placeholder: :description %>
  </div>
  <div class="field">
    <%= f.number_field :longitude, placeholder: :longitude %>
  </div>
  <div class="field">
    <%= f.number_field :latitude, placeholder: :latitude %>
  </div>
  <div class="field">
    <%= f.text_field :venue_type, placeholder: :venue_type %>
  </div>
  <div class="actions">
    <%= f.submit 'data-inline' => true %>
  </div>
  <% if controller.action_name == 'edit' %>
    <%= button_delete @venue %>
  <% end %>

<% end %>
