
<table>
  <thead>
    <tr>
      <th>Person</th>
      <th>Name</th>
      <th>Description</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th>Venue type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @venues.each do |venue| %>
      <tr>
        <td><%= venue.person_id %></td>
        <td><%= venue.name %></td>
        <td><%= venue.description %></td>
        <td><%= venue.longitude %></td>
        <td><%= venue.latitude %></td>
        <td><%= venue.venue_type %></td>
        <td><%= link_to 'Show', venue %></td>
        <td><%= link_to 'Edit', edit_venue_path(venue) %></td>
        <td><%= link_to 'Destroy', venue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Venue', new_venue_path %>
