<p id="notice"><%= notice %></p>
<% content_for(:data_role, 'dialog') %>

<p>
  <strong>Person:</strong>
  <%= @venue.person_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @venue.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @venue.description %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @venue.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @venue.latitude %>
</p>

<p>
  <strong>Venue type:</strong>
  <%= @venue.venue_type %>
</p>

<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
