<%= form_for(@calendar) do |f| %>
  <% if @calendar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@calendar.errors.count, "error") %> kept this calendar from being saved:</h2>

      <ul>
      <% @calendar.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, placeholder: :name %>
  </div>
  <div class="field">
    <%= f.text_area :description, placeholder: :description %>
  </div>
  <div class="field">
    <%= f.text_area :chronometry, placeholder: :chronometry %>
  </div>
  <div class="field">
    <%= f.text_area :settings, placeholder: :settings %>
  </div>
  <div class="field">
    <%= f.text_area :history, placeholder: :history, readonly: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
