<%= form_for(@credit) do |f| %>
  <% if @credit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@credit.errors.count, "error") %> prohibited this credit from being saved:</h2>

      <ul>
      <% @credit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :worthy_one %><br>
    <%= f.text_area :worthy_one %>
  </div>
  <div class="field">
    <%= f.label :service_supplied %><br>
    <%= f.text_area :service_supplied %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
