<!-- add a delete tag, for admins only -->
<!-- add ability to tag the credit, and to add attachments & tags to it, once we are working on those -->
<%= form_for(@credit) do |f| %>
  <% if @credit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@credit.errors.count, "error") %> kept this credit from being saved:</h2>

      <ul>
      <% @credit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :name, placeholder: :name %>
  </div>
  <div class="field">
    <%= f.text_area :description, placeholder: :description %>
  </div>

  <div class="actions">
    <%= f.submit 'data-inline' => true %>
  </div>

<% end %>
