<!-- entry point for testing root/partials system -->
<!-- name only, with link on name leading to edit (for admin), to show (for non-admin) -->
<h1>Listing credits</h1>

<ol>
    <% @credits.each do |credit| %>
      <li>
        <%= credit.name %>
        <%= link_to 'Show', credit %>
        <%= link_to 'Edit', edit_credit_path(credit) %>
        <%= link_to 'Destroy', credit, method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    <% end %>
</ol>

<br>

<% if admin? %>
<%= link_to 'New Credit', new_credit_path %>
<% end %>
