<!-- entry point for testing root/partials system -->
<!-- name only, with link on name leading to edit (for admin), to show (for non-admin) -->
<h1>Listing credits</h1>
<% logger.debug("credits/index.html.erb: current_layout: " + current_layout()) %>
<%= controller.controller_name %>
<%= controller.action_name %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @credits.each do |credit| %>
      <tr>
        <td><%= credit.name %></td>
        <td><%= credit.description %></td>
        <td><%= link_to 'Show', credit %></td>
        <td><%= link_to 'Edit', edit_credit_path(credit) %></td>
        <td><%= link_to 'Destroy', credit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Credit', new_credit_path %>
