<!-- how to manage title here? -->
<!-- what is notice for? -->
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @credit.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @credit.description %>
</p>

<% if admin? %>
<%= link_to 'Edit', edit_credit_path(@credit) %> |
<% else %>
<%= link_to 'Back', credits_path %>
<% end %>
