<p id="notice"><%= notice %></p>

<p>
  <strong>Worthy one:</strong>
  <%= @credit.name %>
</p>

<p>
  <strong>Service supplied:</strong>
  <%= @credit.description %>
</p>

<%= link_to 'Edit', edit_credit_path(@credit) %> |
<%= link_to 'Back', credits_path %>
