<% provide(:title, "Sign In") %>
<% provide(:data_role, "dialog") %>

<%  
  # NOTE:  html is to keep jqm from hijacking the session as ajax
  # -- see http://stackoverflow.com/questions/12329406/jquery-mobile-rails-devise-error-loading-page-when-logging-in-with-incorrect-c/14595607#14595607 
  # NOTE:  feed blank values to email & password to avoid erroreous autocomplete (inspite of autocomplete = off)
  # TBD:  add in search by name as well as email from same search box:  see 'devise' wiki
  #   -- https://github.com/plataformatec/devise/wiki/How-To:-Allow-users-to-sign-in-using-their-username-or-email-address
%>
<%= form_for_jqm(resource, :as => resource_name, :url => '/people/sign_in', :html => { :data => { :ajax => 'false' } } ) do |f| %>
  <%= f.email_field :email, placeholder: 'your email', :auto_complete => 'off', :autofocus => true, value: '' %>

  <% # NOTE:  if the password field's value is left blank, then the browser or at least FireFox will fill in with the previous password %>
  <%= f.password_field :password, placeholder: 'your password', :auto_complete => 'off', value: '' %>

  <% # NOTE:  unable to get the remember_me field to shrink in size, in spite of setting data-inline & data-mini %>
  <% if devise_mapping.rememberable? -%>
    <%= f.check_box :remember_me, 'data-inline' => true, 'title' => 'Check remember_me box so you can sign in automatically next time',
      'data-mini' => true %>
  <% end -%>

  <div data-role="controlgroup">

  <% # warning:  if the buttons don't each get their own template block, only the last one will show! %>
  <%= f.submit "Sign In" %>

  <%= button_inline "Create Account", sign_up_path, title: 'Create a new account for you on talkinvite' %>
  <%= button_inline "Reset Password", reset_password_path, title: 'Send a reset password link to your email' %>

  </div>


<% end %>
