<h1>Listing migrations</h1>

<table>
  <thead>
    <tr>
      <th>Notification</th>
      <th>Person</th>
      <th>Talk</th>
      <th>Notification type</th>
      <th>Notification text</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @migrations.each do |migration| %>
      <tr>
        <td><%= migration.notification %></td>
        <td><%= migration.person_id %></td>
        <td><%= migration.talk_id %></td>
        <td><%= migration.notification_type %></td>
        <td><%= migration.notification_text %></td>
        <td><%= link_to 'Show', migration %></td>
        <td><%= link_to 'Edit', edit_migration_path(migration) %></td>
        <td><%= link_to 'Destroy', migration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Migration', new_migration_path %>
