<%= form_for(@social) do |f| %>
  <% if @social.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@social.errors.count, "error") %> kept this social from being saved:</h2>

      <ul>
      <% @social.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- TBD:  fix up foreign keys & types -->
  <div class="field">
    <%= f.number_field :person_id, placeholder: :person_id %>
  </div>
  <div class="field">
    <%= f.number_field :talk_id, placeholder: :talk_id %>
  </div>
  <div class="field">
    <%= f.text_field :social_type, placeholder: :social_type %>
  </div>
  <div class="field">
    <%= f.text_area :social_text, placeholder: :social_text %>
  </div>
  <div class="actions">
    <%= f.submit 'data-inline' => true %>
  </div>
  <% if controller.action_name == 'edit' %>
    <%= button_delete @social %>
  <% end %>

<% end %>
