<%= form_for(@social) do |f| %>
  <% if @social.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@social.errors.count, "error") %> prohibited this social from being saved:</h2>

      <ul>
      <% @social.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :person_id %><br>
    <%= f.number_field :person_id %>
  </div>
  <div class="field">
    <%= f.label :talk_id %><br>
    <%= f.number_field :talk_id %>
  </div>
  <div class="field">
    <%= f.label :social_type %><br>
    <%= f.text_field :social_type %>
  </div>
  <div class="field">
    <%= f.label :social_text %><br>
    <%= f.text_area :social_text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
