
<table>
  <thead>
    <tr>
      <th>Person</th>
      <th>Talk</th>
      <th>Social type</th>
      <th>Social text</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @socials.each do |social| %>
      <tr>
        <td><%= social.person_id %></td>
        <td><%= social.talk_id %></td>
        <td><%= social.social_type %></td>
        <td><%= social.social_text %></td>
        <td><%= link_to 'Show', social %></td>
        <td><%= link_to 'Edit', edit_social_path(social) %></td>
        <td><%= link_to 'Destroy', social, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Social', new_social_path %>
