<div data-role="header">
  <% if signed_in? %>
    <a href="<%=root_path%>"><i class="fa fa-comments-o fa-lg"></i>&nbsp;&nbsp;Home</a>
    <h1><%=yield :title%></h1>
    <a href="<%=settings_path%>"><i class="fa fa-cogs fa-lg"></i>&nbsp;&nbsp;Settings</a>
  <% else %>
    <% if @data_role == 'page' %>
      <a href="<%=signin_path%>"><i class="fa fa-sign-in fa-lg"></i>&nbsp;&nbsp;Log In</a>
      <h1><%=yield :title%></h1>
      <a href="<%=signup_path%>"><i class="fa fa-sign-in fa-rotate-270 fa-lg"></i>&nbsp;&nbsp;Sign Up</a>
    <% else %>
      <!-- TBD: flip swatches for dialogs? -->
      <h1><%=yield :title%></h1>
    <% end %>
  <% end %>
</div>
