<!-- TBD: flip swatches for dialogs? -->
<div data-role="header" <%=data_theme()%> >
  <% if signed_in? %>
    <% if @data_role == 'page' %>
      <%= root_link %>
      <h1><%=yield :title%></h1>
      <%= sign_out_link %>
    <% else %>
      <h1><%=yield :title%></h1>
    <% end %>
  <% else %>
    <% if @data_role == 'page' %>
      <%= signin_link %>
      <h1><%=yield :title%></h1>
      <%= signup_link %>
    <% else %>
      <h1><%=yield :title%></h1>
    <% end %>
  <% end %>
</div>
