<!-- TBD: invert or otherwise changes swatches for dialogs? -- see how it looks in practice first -->
<div class="header" data-role="header" <%=swatch%> >
  <% if signed_in? %>
    <% if @data_role == 'page' %>
      <h1><%=@title%></h1>
      <%= settings_link %>
    <% else %>
      <h1><%=@title%></h1>
    <% end %>
  <% else %>
    <% if @data_role == 'page' %>
      <%= signin_link %>
      <h1><%=@title%></h1>
      <%= signup_link %>
    <% else %>
      <h1><%=@title%></h1>
    <% end %>
  <% end %>
</div>
