<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title><%= yield(:title) %></title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <link href="/themes/Bootstrap.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <meta name="viewport" content="user-scalable=no,width=device-width" />
  </head>
  <body>
    <%  
        @data_role = yield :data_role
        if @data_role.empty?
          @data_role = 'page'
        end
    %>
    <div data-role="<%=@data_role%>" id="<%=controller.controller_name%>-<%=controller.action_name%>" <%=data_theme()%>">
	    <%=render 'layouts/header'%>
      <!-- TBD:  get the flash to popup a transient alert box instead -->
	    <div data-role="content" class="<%=controller.controller_name%>">
	      <% flash.each do |key, value| %>
	        <div class="alert alert-<%= key %>"><%= value %></div>
	      <% end %>
	      <%=yield%>
	    </div>
	    <!-- page showing scrollbar on right, tho plenty of space, why? -->
	    <%= render 'layouts/footer' %>
	    <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
