<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <!-- would like to factor out page frame ideas, i.e. side-by-side, how best? -->
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
      <!-- the debug(assigns) is showing up with 'code' tag, where debug(params) is using 'pre'.  Why? -->
      <!-- <%= debug(assigns) if Rails.env.development? %> -->
      <!-- on 'index' method for people, assigns seems to get the array of people -->
      <%= logger.debug("application.html: @people: #{@people}") %>
      <%= logger.debug("application.html: assigns: #{assigns}") %>
    </div>
  </body>
</html>
