<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <%= render 'layouts/top' %>
    <%= render 'layouts/container_start' %>
      <%= render 'layouts/flash' %>
      <%= yield %>
      <%= render 'layouts/bottom' %>
    <%= render 'layouts/container_end' %>
  </body>
</html>
