<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :talk_id %><br>
    <%= f.number_field :talk_id %>
  </div>
  <div class="field">
    <%= f.label :person_id %><br>
    <%= f.number_field :person_id %>
  </div>
  <div class="field">
    <%= f.label :rsvp_status %><br>
    <%= f.text_field :rsvp_status %>
  </div>
  <div class="field">
    <%= f.label :member_type %><br>
    <%= f.text_field :member_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
